<h2><%= @user.username %> </h2> has commented on the following posts:

<% @user.posts.each do |post| %>
  <%= link_to post.title, post_path(post) %>
<% end %>

<% @user.comments.each do |user| %>
  <p> Below comments are posted by this User: </p>
  <p><%= user.content %></p>
<% end %>